@{
    Layout="MasterPage";
}

<html>
    <head>
        <link rel="stylesheet" href="/css/style_fale_conosco.css">
    </head>


    <body>
        
        <nav class="menu">
            <ul> 
                <li>
                    <a href="/Usuario/Index">HOME</a>
                </li>
                <li>
                    <a href="/Usuario/Quem_somos">QUEM SOMOS</a>
                </li>
                <li>
                    <a href="/Usuario/FAQ">FAQ</a>
                </li>
                <li>
                    <a href="/Comentario/Envio_de_comentario">DEPOIMENTOS</a>
                </li>
                <nav class="partemenudiferente">
                    <li>
                        <a href="/Usuario/Fale_conosco">FALE CONOSCO</a>
                    </li>
                </nav>
                <li>
                    <a href="/Usuario/Cadastro">CADASTRE-SE</a>
                </li>
            </ul>
        </nav>

        <main>
            <div class="texto_fale_conosco">
            <p>Se tiver dúvidas, críticas ou sugestões, deixe um comentário na seção <a href="/Comentario/Envio_de_comentario" style="color:#FF0000">DEPOIMENTOS</a> ou mande um e-mail para <b>carfel.checkpoint.com.br</b>. Se preferir, converse com um dos nossos atendentes no <a href="#" style="color:#FF0000">SAC ONLINE</a>. Mensagens enviadas para o e-mail ou para o SAC não serão publicadas.</p>
            </div>
        </main>

    </body>
</html>