@{
    Layout="MasterPage";
}

<html>
    <head>
        <link rel="stylesheet" href="/css/style_fale_conosco.css">
    </head>

    <body>
    
    <main>
        <nav class="menu">
            <ul>
                <li>
                    <a href="/Usuario/Index">HOME</a>
                </li>
                <li>
                    <a href="/Usuario/Quem_somos">QUEM SOMOS</a>
                </li>
                <nav class="partemenudiferente">
                    <li>
                        <a href="/Usuario/FAQ">FAQ</a>
                    </li>
                </nav>
                <li>
                    <a href="/Comentario/Envio_de_comentario">DEPOIMENTOS</a>
                </li>
                <li>
                    <a href="/Usuario/Fale_conosco">FALE CONOSCO</a>
                </li>
                <li>
                    <a href="/Usuario/Cadastro">CADASTRE-SE</a>
                </li>
            </ul>
        </nav>     

        <article class="duvidas">
            <h3>1) Como usar o Check Point?</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                magna aliquam rat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                lobortis nisl ut aliquip ex ea commodo consequat. 
            </p>
        </article>

        <article class="duvidas">
            <h3>2) Como comprar?</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                magna aliquam rat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                lobortis nisl ut aliquip ex ea commodo consequat. 
            </p>
        </article>

        <article class="duvidas">
            <h3>3) Quem pode usar?</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                magna aliquam rat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                lobortis nisl ut aliquip ex ea commodo consequat. 
            </p>
        </article>
        
        <article class="duvidas">
            <h3>4) Como solicitar suporte?</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                magna aliquam rat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                lobortis nisl ut aliquip ex ea commodo consequat. 
            </p>
        </article>

    </main>

    </body>
</html> 