@{
    Layout="MasterPage";
}


<html>
<head>
     <link rel="stylesheet" href="/css/style_index.css">
</head>


<body>
    
    <nav class="menu">
        <ul>
            <nav class="partemenudiferente">
                <li>
                    <a href="/Usuario/Index">HOME</a>
                </li>
            </nav>
            <li>
                <a href="/Usuario/Quem_somos">QUEM SOMOS</a>
            </li>
            <li>
                <a href="/Usuario/FAQ">FAQ</a>
            </li>
            <li>
                <a href="/Comentario/Envio_de_comentario">DEPOIMENTOS</a>
            </li>
            <li>
                <a href="/Usuario/Fale_conosco">FALE CONOSCO</a>
            </li>
            <li>
                <a href="/Usuario/Cadastro">CADASTRE-SE</a>
            </li>
        </ul>
    </nav>

    <section class="semtitulo">

            <div class="alinhamento">
                <article class="o_que_e_check_point">
                    <h3>O que é Check Point?</h3><br>
                    <p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy 
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
                        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
                        tation ullamcorper suscipit lobortis nisl ut aliquip ex ea 
                        commodo consequat.
                    </p><br>

                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit 
                        esse molestie consequat, vel illum dolore eu feugiat nulla 
                        facilisis at vero eros et iusto odio dignissim qui blandit 
                        praesent luptatum zzril delenit augue duis dolore te nulla 
                        facilisi.
                    </p>                    
                </article>
      
                <div class="imagem_legenda_garota">  
                    <img align="right" width="80%" heigth="80%" src='/imagens/garota_pc.png'  />
                        <p class="texto_legenda_garota">Checkpoint em execução.</p> 
                </div>               
               
            </div>
        </section>

        <section class="funcionalidades">
            <h2>FUNCIONALIDADES</h2>
        
            <div class="alinhamento">

                <article class="para_que_serve">
                    <h3>Para que o Check Point serve?</h3><br>
                    <p>Lorem ipsum dolor sit amet, consectetuer 
                        elit, sed diam nonummy nibh euismod 
                        tincidunt ut laoreet dolore magna aliquam 
                        erat volutpat. Ut wisi enim ad minim veniam, 
                        quis nostrud exerci tation ullamcorper. 
                    </p><br>
                    
                </article>
            
                <div class="imagem_legenda_computador_um">  
                    <img align="right" width="80%" heigth="80%" src='/imagens/computador_um.png'  />
                        <p class="texto_legenda_computador_um">Legenda.</p> 
                </div>
            
            </div>

            <div class="alinhamento">

                <div class="imagem_legenda_computador_dois">  
                        <img align="right" width="85%" heigth="85%" src='/imagens/computador_dois.png'  />
                            <p class="texto_legenda_computador_dois">Legenda.</p> 
                </div>

                <article class="o_que_exatamente">
                    <h3>O que ele faz exatamente?</h3><br>
                    <p>Lorem ipsum dolor sit amet, consectetuer 
                        elit, sed diam nonummy nibh euismod 
                        tincidunt ut laoreet dolore magna aliquam 
                        erat volutpat. Ut wisi enim ad minim veniam, 
                        quis nostrud exerci tation ullamcorper. 
                    </p><br>
                    
                </article>
                
            </div>

            <div class="alinhamento">

                <article class="quem_pode_usar">
                    <h3>Quem pode usar?</h3><br>
                    <p>Lorem ipsum dolor sit amet, consectetuer 
                        elit, sed diam nonummy nibh euismod 
                        tincidunt ut laoreet dolore magna aliquam 
                        erat volutpat. Ut wisi enim ad minim veniam, 
                        quis nostrud exerci tation ullamcorper. 
                    </p><br>
                    
                </article>
            
                <div class="imagem_legenda_computador_tres">  
                    <img align="right" width="80%" heigth="80%" src='/imagens/computador_tres.png'  />
                        <p class="texto_legenda_computador_tres">Legenda.</p> 
                </div>
            
            </div>

        </section>

        <section class="planos_de_uso">
            <h2>PLANOS DE USO</h2>

            <table>
                <tr>
                    <th bgcolor=#1DB9DD><h3>GRATUITO</h3></th>    <th bgcolor=#1DB9DD><h3>PLUS</h3></th>    <th bgcolor=#9D20C6><h3>PREMIUM</h3></th>
                </tr>
                <tr>
                    <td>__________</td>   <td>R$ 19,90</td>   <td>R$ 119,90</td> 
                </tr>
                <tr>
                    <td>1 PC</td>     <td>5 PCs</td>  <td><b>100 PCs</b></td>  
                </tr>
                <tr>
                    <td>__________</td>	<td>Suporte em até 72hs</td>   <td><b>Suporte em até 24hs</b></td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>     <td>Lorem ipsum</td>      <td><b>Lorem ipsum</b></td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>       <td>Lorem ipsum</td>        <td><b>Lorem ipsum</b></td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>     <td>Lorem ipsum</td>         <td><b>Lorem ipsum</b></td>
                </tr>
            </table>

        </section>

   
    </body>
</html>
